@font-face {
  font-family: "iconfont"; /* Project id 2856168 */
  src: url('//at.alicdn.com/t/font_2856168_xdn8zhmih8.woff2?t=1652505307835') format('woff2'),
       url('//at.alicdn.com/t/font_2856168_xdn8zhmih8.woff?t=1652505307835') format('woff'),
       url('//at.alicdn.com/t/font_2856168_xdn8zhmih8.ttf?t=1652505307835') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontzhizuobiaozhun43:before {
  content: "\e62a";
}

.icon-fenxiang:before {
  content: "\e660";
  font-size: 28px;
}

.icon-xinjianwenjianjia:before {
  content: "\e61a";
  font-size: 20px;
}

.icon-xiazai:before {
  content: "\e61d";
  font-size: 20px;
}

.icon-yonghu:before {
  content: "\e667";
}

.icon-zhuti:before {
  content: "\e653";
}

.icon-xinxi:before {
  content: "\e64e";
}

.icon-shezhi:before {
  content: "\e64b";
}
